<!DOCTYPE html>
<html>
    <head>
        <title>Lab 5</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Welcome to the Home Page!</h1>
        <p>Want to go to the next page? </p>
        <p>Click the button.</p>

        <a href="{{ url_for('home') }}">
            <button>Next Page</button>
        </a>
        
        <a href="{{ url_for('another') }}">
            <button>Don't Click This One</button>
        </a>
        
        <a href="{{ url_for('photo') }}">
            <button>This Ones Fun</button>
        </a>
    </body>
</html>