<!DOCTYPE html>
<html>
    <head>
        <title>Lab 6 Log In</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Log In</h1>
        <div>
            <form method="post">
                <label for="Email">Email:</label>
                <input type="text" id="Email" name="Email" value="" required/>

                <label for="pwd">Password:</label><br>
                <input type="password" id="pwd" name="pwd"><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
        
        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </body>
</html>